[run]
source =
    orangecontrib.spectroscopy
omit =
	*/tests/*
	*/utils/skimage/*
	*/utils/spc/*

[report]
exclude_lines =
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
    except MemoryError
    assert False
    raise AssertionError
    if (typing\.)?TYPE_CHECKING:
