# Ref https://docs.python.org/2/distutils/sourcedist.html#commands
recursive-include orangecontrib *.ows icons/* datasets/* *.txt
recursive-include orangecontrib/spectroscopy/datasets matlab/*
recursive-include orangecontrib/spectroscopy/datasets agilent/*
recursive-include orangecontrib/spectroscopy/datasets Hermes_HDF5/*
recursive-include orangecontrib/spectroscopy/datasets emsc/*
recursive-include orangecontrib/spectroscopy/datasets NeaReaderGSF_test/*
recursive-include orangecontrib/spectroscopy/datasets renishaw_test_files/*
recursive-include orangecontrib/spectroscopy/datasets photothermal/*

global-exclude __pycache__

# Include it in the source package
include README.pypi
include LICENSE
